extends ../layout

block content
  div.container.mt-5
    div.row.justify-content-center
      div.col-md-6
        div.card
          div.card-header
            h4 Forgot Password
          div.card-body
            if message
              if status === 'success'
                div.alert.alert-success= message
              else 
                div.alert.alert-danger= message
            
            form(action="/auth/forgot-password" method="POST")
              div.form-group.mb-3
                label(for="email") Email Address
                input.form-control#email(type="email" name="email" required)
              
              div.form-group.mb-3
                label(for="userType") I am a:
                select.form-control#userType(name="userType" required)
                  option(value="") -- Select User Type --
                  option(value="student") Student
                  option(value="driver") Driver
                  option(value="admin") Admin
              
              div.form-group.mt-4
                button.btn.btn-primary.w-100(type="submit") Send Reset Link
            
            div.mt-3.text-center
              a(href="/auth/login") Back to Login 