doctype html
html
  head
    title Page Not Found
    link(rel="stylesheet" href="/styles.css")
  body
    h1 404 - Page Not Found
    p Oops! The page you are looking for does not exist.
    a(href="/") Go Back to Home
