extends layout

block content
  div.alert-success
    h2 ✅ Booking Confirmed!
    p Your ride has been booked successfully.
  div.button-container
    a.btn.btn-primary(href="/rides") View More Rides
    a.btn.btn-secondary(href="/") Back to Home
