extends layout

block content
  h1 Welcome to Ride Sharing!
  p Find and book rides easily.
  div.button-container
    a.btn.btn-primary(href="/rides") View Available Rides
    a.btn.btn-secondary(href="/rides/create") Post a Ride
    a.btn.btn-primary(href="/reviews") View Reviews
