doctype html
html
  head
    title Ride Sharing
    link(rel="stylesheet", href="/styles.css")
  body
    nav
      ul
        li: a(href="/") Home
        li: a(href="/rides") View Rides
        li: a(href="/create-ride") Create Ride
        li: a(href="/reviews") Reviews
        li: a(href="/admin") Admin Panel
    block content
