doctype html
html
  head
    title Ride Sharing
    link(rel="stylesheet", href="/styles.css")
  body
    nav
      ul
        li: a(href="/") Home
        li: a(href="/rides") Available Rides
        li: a(href="/rides/create") Create Ride
        li: a(href="/bookings") My Bookings
        li: a(href="/reviews") Reviews
    block content
