extends layout

block content
  h1 Available Rides
  table
    thead
      tr
        th Pickup Location
        th Destination
        th Departure Time
        th Price
        th Action
    tbody
      each ride in rides
        tr
          td= ride.pickupLocation
          td= ride.destination
          td= new Date(ride.departureTime).toLocaleString()
          td= ride.price + " USD"
          td: a.btn.btn-primary(href="/rides/" + ride.rideID) View Details
