extends ../layout

block content
  h1 Post a New Ride
  form(method="POST" action="/rides/create")
    div.form-group
      label(for="driverID") Driver ID:
      input(type="number" name="driverID" required)

    div.form-group
      label(for="pickupLocation") Pickup Location:
      input(type="text" name="pickupLocation" required)

    div.form-group
      label(for="destination") Destination:
      input(type="text" name="destination" required)

    div.form-group
      label(for="departureTime") Departure Time:
      input(type="datetime-local" name="departureTime" required)

    div.form-group
      label(for="seatsAvailable") Seats Available:
      input(type="number" name="seatsAvailable" min="1" required)

    div.form-group
      label(for="price") Price (£):
      input(type="number" step="0.01" name="price" min="0" required)

    button.btn.btn-primary(type="submit") Create Ride
  
  div.button-container
    a.btn.btn-secondary(href="/rides") Back to Rides 